@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
body{max-width:475px;width:100%;margin:0 auto;text-align: center;position:relative;background-color: #ddd;}
*{
    margin:0;padding:0;text-decoration: none;list-style: none;
    font-family: 'Montserrat','Noto Sans KR', sans-serif;
}
.ko{font-family: 'Noto Sans KR', sans-serif!important;}
.en{font-family: 'Montserrat', sans-serif!important;}

img{width:100%;}
.body_wrap{overflow-x:hidden ;position: relative;z-index: 99;}
header{
    z-index: 999;
    max-width: 475px;
    width:100%;
    position:fixed;
    top:0;left:50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000;
    height:50px;
    background-color: #fff;
    .wrap{
        display: flex;justify-content:space-between;align-items:center;
        height: 50px;
        padding: 0 20px;
        .burger{
            position: relative;
            height:50px;
            img{position: absolute;width:40px;top:50%;left:0;transform:translateY(-50%);}
            
           
            .line{
                img{
                    z-index:3;transition:.5s;transform-origin:center center;
                    &.active{transform:translateY(-50%) rotate(-90deg);}
                }
            }
            .ball{
                img{
                    z-index: 2;
                    opacity: 0;
                    transition:.5s;transform-origin:center center;
                    &.active{transform:translateY(-50%) rotate(-90deg);opacity:1;}
                }
            }
        }
        .logo{width:30px;position: absolute;left:50%;transform: translateX(-50%);}
        .back{width:40px;}
    }
}
.nav{
    position:absolute;background:#3a3e46;
    border-top:1px solid #000;
    border-right:1px solid #000;
    height: 100vh;width: 50%; left:0px;
    z-index:-2;transition:.5s;
    opacity: 0; padding:60px 20px 20px;
    text-align:left;top:50px;
    &.active{opacity: 1;z-index:9}
    li{font-size: 25px;color:#fff;padding:0 0 20px;;text-transform: uppercase;}
}
.fix_menu{
    display: flex;justify-content: space-between;
    align-items: center; border-bottom: 1px solid #000;
    padding:0 20px;background:#3a3e46;
    height: 30px;line-height:30px;
    li{color: #fff;text-align:center;text-transform: uppercase;font-size: 15px;}
}
main{
    background: #fff;
    height: 100vh;
    position: relative;
    .swiper {
        
        padding-top: 80px;
        width: 100%;
        height: calc(70vh);
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-position: center top;
    }
    .img1{
        background-image: url("https://kyohyunkim.github.io/max//img/1.jpeg");
    }
    .img2{
        background-image: url("https://kyohyunkim.github.io/max//img/2.jpeg");
    }
    .img3{
        background-image: url("https://kyohyunkim.github.io/max//img/3.jpeg");
    }

    .swiper-slide img {
    display: block;
    width: 100%;
    }
}